<section class="board">
  <h1 class="board__title">{{ board.title }}
  </h1>
  <div
    class="board__columns"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <app-column
      class="board__column"
      *ngFor="let column of columns"
      [column]="column"
      cdkDrag
      (deleteColumn)="deleteColumn($event)"
    ></app-column>
    <div class="board__create-button" [cdkDragDisabled]="true" cdkDrag>
      {{"BOARD.CREATE" | translate}}
    </div>
  </div>
</section>
