<div class="wrapper-edit-modal" *ngIf="isEditTask">
    <div class="edit-modal">
        <button class="btn-close" (click)="closeEditTask()">X</button>
        <form class="form-modal" [formGroup]="editFormTask">
            <input class="input-edit" formControlName="title" type="text" value="{{task.title}}">
            <input class="input-edit" formControlName="description" type="text" value="{{task.description}}">
            <select  class="input-user" formControlName="user" selected="selected" (change)="addUserTask()">
                <option ngValue="Выберите пользователя" selected disabled>{{'WORKSPACE.USER_SELECTION' | translate}}</option>
                <option *ngFor="let user of task.users" selected  [ngValue]="user" >
                  <span (change)="addUserTask()">
                    {{ user }}
                  </span>
                </option>
              </select>
              <div class="users">
                <span class="user"  *ngFor="let user of this.usersArray">
                  <button class="btn-delete-user" type="button" (click)="removeUserTask(user)">X</button>
                  <img src="assets/images/user-profile.svg" width="50px" alt="user-icon">
                  {{user}}
                </span>
            </div>
            <button class="btn-save" type="button" (click)="editTask()">Save</button>
        </form>
    </div>
</div>
