::ng-deep .confirmation-modal {
  .ant-modal-content,.ant-modal-header {
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: transparent;
    color: #fff;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }
  .ng-star-inserted {
    color: #fff;
  }

  .ant-btn {
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    .ng-star-inserted {
    color: #000;

    }
    &:hover {
      cursor: pointer;
      background: darken($color: #ffffff, $amount: 10);
    }
  }
}
.delete-btn {
    margin-top: auto;
    outline: none;
    color: #000;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    background: hsla(268deg, 28%, 39%, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);

    span {
      color: #fff;
    }

    &:not([disabled]):hover {
      background-color: #fff;

      span {
        color: #000;
      }
    }
}
