<span nz-typography *ngIf="!isButton" (click)="showModal()">Delete user</span>
<button *ngIf="isButton" nz-button [nzType]="'primary'" (click)="showModal()"><span>{{'CONFIRMATION_FORM.BUTTON_NAME' | translate}}</span></button>
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="{{'CONFIRMATION_FORM.TITLE' | translate}}"
      nzOkText="{{'CONFIRMATION_FORM.CONFIRM' | translate}}"
      nzCancelText="{{'CONFIRMATION_FORM.CANCEL' | translate}}"
      nzOkDanger="true"
      nzAutofocus="cancel"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <p><span nz-icon nzType="exclamation-circle" nzTheme="outline" style="color: orange; font-size: 2rem; margin-right: 3px;"></span> {{modalText | translate}}</p>
      </ng-container>
    </nz-modal>
