<div class="header">
  <div class="header__logo">
    <div class="glass">
      <div class="text_container">
        <span class="line"></span>
        <div class="project">project</div>
        <div class="project">manager</div>
        <span class="line"></span>
      </div>
    </div>
    <div class="logo">
      <img class="logo-img" src="assets/images/logo-cube.svg" alt="logo">
    </div>
  </div>
  <div class="header__search" *ngIf="showSearch">
    <app-global-search></app-global-search>
  </div>
  <span nz-icon nzType="file-add" nzTheme="outline" (click)="createForm()" class="header__create-board" title="{{'HEADER.CREATE_BOARD' | translate}}"></span>
  <div class="header__select">
    <app-localization></app-localization>
  </div>
  <app-header-profile></app-header-profile>
</div>
