<div class="column">
  <div class="column__title">
    <h2 class="column__order">{{column.order<10?'0'+column.order: column.order}}</h2>
    <h3 *ngIf="!isTitleClicked" class="column__h3" (click)="onTitleClick();">{{column.title}}</h3>
    <form class="column__form" [formGroup]="inputForm" *ngIf="isTitleClicked" (ngSubmit)="onSubmitForm()" autofocus>
      <input formControlName="myInput" class="column__input"  type="text" [(ngModel)]="column.title" autofocus >
    </form>
    <button class="column__delete">. . .</button>
  </div>
  <div class="alert" *ngIf="inputForm.get('myInput')?.errors?.['required']">Please input title!</div>
  
  <div class="column__tasks"></div>
  <button class="column__button">+ Add card</button>
</div>
