<div class="header__profile">
  <a nz-dropdown [nzDropdownMenu]="menu">
    <span>{{userName}}</span>
    <span nz-icon nzType="user" nzTheme="outline" style="color: #1890ff;"></span>
    <span nz-icon nzType="down"></span>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item
        nzDisabled="{{isAuth}}"
        routerLink="/auth/login"
      >
        Login
      </li>
      <li nz-menu-item
        nzDisabled="{{isAuth}}"
        routerLink="/auth/registration"
      >
        SignUp
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item
        nzDisabled="{{!isAuth}}"
        routerLink="/profile"
      >
        Edit User
      </li>
      <li nz-menu-item nzDisabled="{{!isAuth}}">
        <app-confirmation-modal
          [modalText]="'CONFIRMATION_FORM.TEXT_DELETE_USER'"
          [isButton]="false"
          [onDelete]="deleteUser"
        >
          Done
        </app-confirmation-modal>
      </li>
      <li nz-menu-item
        nzDisabled="{{!isAuth}}"
        (click)="logout()">Logout</li>
    </ul>
  </nz-dropdown-menu>
  <!-- kate4ka
  <span nz-icon nzType="user" nzTheme="outline" style="color: #1890ff;"></span> -->
</div>
