<div class="header__profile">
  <a nz-dropdown [nzDropdownMenu]="menu">

    <app-user-logo *ngIf="userName" [userName]="userName"></app-user-logo>
    <span nz-icon *ngIf="!userName" nzType="user" nzTheme="outline" style="color: #1890ff; font-size: 1.5rem"></span>
    <span nz-icon nzType="down"></span>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item
        nzDisabled="{{isAuth}}"
        routerLink="/auth/login"
      >
        {{'AUTH.LOGIN' | translate}}
      </li>
      <li nz-menu-item
        nzDisabled="{{isAuth}}"
        routerLink="/auth/registration"
      >
        {{'AUTH.REGISTRATION' | translate}}
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item
        nzDisabled="{{!isAuth}}"
        routerLink="/profile"
      >
        {{'AUTH.EDIT_USER' | translate}}
      </li>
      <li nz-menu-item nzDisabled="{{!isAuth}}">
        <app-confirmation-modal
          [modalText]="'CONFIRMATION_FORM.TEXT_DELETE_USER'"
          [isButton]="false"
          [onDelete]="deleteUser"
        >
          Done
        </app-confirmation-modal>
      </li>
      <li nz-menu-item
        nzDisabled="{{!isAuth}}"
        (click)="logout()">{{'AUTH.LOGOUT' | translate}}</li>
    </ul>
  </nz-dropdown-menu>

</div>
