<section class="workspace">
    <h1>{{'WORKSPACE.BOARD' | translate}}</h1>
    <div class="boards">
        <div class="board"  (click)="createForm()">
            <span class="link-board">{{'WORKSPACE.CREATE_BOARD' | translate}}</span>  
        </div>
        <div class="board" *ngFor="let board of boards">
            <a class="title" routerLink="/workspace/boards" [queryParams]="{id: board._id}">
                {{board.title}}
            </a>
            <div class="owner">{{board.owner}}</div>
            <div class="users">
                <span class="user" *ngFor="let user of board.users">{{user }}</span>
            </div>
            <button class="btn-delete" (click)="deleteBoard()">{{'WORKSPACE.DELETE' | translate}}</button>
        </div>
    </div>
    <app-create-board></app-create-board>
</section>
