
 <section class="register-page">
    <a routerLink="/auth" class="link-back" >{{'AUTH.BACK' | translate}}</a>
   <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="10" nzRequired nzFor="email">{{'AUTH.EMAIL' | translate}}</nz-form-label>
        <nz-input-group class="input">
          <input class=" {{
            validateForm.get('email')?.errors &&
            validateForm.get('email')?.touched   ? 'error' : 'valid'
            }}" nz-input formControlName="email" id="email" />
          <small class="notification" *ngIf="validateForm.get('email')?.errors?.['required'] && validateForm.get('email')?.touched"> 
            {{'AUTH.ENTER_EMAIL' | translate}}
          </small>
          <small class="notification" *ngIf="validateForm.get('email')?.getError('email')">{{'AUTH.ERROR_EMAIL' | translate}}</small>
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="10" nzFor="password" nzRequired>{{'AUTH.PASSWORD' | translate}}</nz-form-label>
        <nz-input-group class="input">
          <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
            class="{{            
              validateForm.get('password')?.errors && 
              validateForm.get('password')?.touched   ? 'error' : 'valid'}}"/>
          <small class="notification" *ngIf="validateForm.get('password')?.getError('invalidPassword')&& 
            validateForm.get('password')?.invalid &&
            (validateForm.get('password')?.dirty || validateForm.get('password')?.touched)">
              {{validateForm.get('password')?.errors?.['invalidPassword'] | translate}}
          </small>
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="10" nzFor="checkPassword" nzRequired>
          {{'AUTH.CONFIRM_PASSWORD' | translate}}
        </nz-form-label>

        <nz-input-group class="input">
          <input 
          nz-input 
          type="password" 
          formControlName="checkPassword" 
          id="checkPassword"
          class="{{            
            validateForm.get('checkPassword')?.errors && 
            validateForm.get('checkPassword')?.touched   ? 'error' : 'valid'}}"/>
          <small class="notification" *ngIf="validateForm.get('checkPassword')?.errors?.['required'] && validateForm.get('checkPassword')?.touched ">
            {{'AUTH.CHECK_PASSWORD' | translate}}
          </small>
          <small class="notification" *ngIf="validateForm.get('checkPassword')?.getError('confirm')">{{'AUTH.INCORRECT_PASSWORD' | translate}}</small>
        </nz-input-group>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label
          [nzSm]="8"
          [nzXs]="10"
          nzFor="nickname"
          nzRequired
          nzTooltipTitle="What do you want other to call you">
          <span>{{'AUTH.NAME' | translate}}</span>
        </nz-form-label>
        <nz-input-group class="input">
          <input nz-input id="nickname" formControlName="nickname"
            class="{{validateForm.get('nickname')?.errors && validateForm.get('nickname')?.touched   ? 'error' : 'valid'}}"/>
          <small class="notification" *ngIf="validateForm.get('nickname')?.errors?.['required'] && validateForm.get('nickname')?.touched">
            {{'AUTH.REQUIRED_NAME' | translate}}
          </small>
          <small class="notification" *ngIf="validateForm.get('nickname')?.getError('minlength')">{{'AUTH.MIN_LENGTH_NAME' | translate}}</small>
        </nz-input-group>
      </nz-form-item>
    
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button class="registr-btn" nz-button nzType="primary"type="button" (click)="registration()" 
            [disabled]="validateForm.invalid">{{'AUTH.REGISTRATION' | translate}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </section>