* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  width: 100%;
}

.title {
  color: #85FFF8;
}

.wrapper-section-page {
  position: relative;
  display: flex;
  max-width: 1356px;
  justify-content: center;
  margin: 0 auto;
}

.welcome-page {
  margin: 5px 0;
  color: #fff;
  position: relative;
  padding: 0 20px;
  width: calc(100% - 120px);
}

.wrapper-title {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-top: 7%;
  max-width: 787px;
  width: 100%;
}

.wrapper-square {
  position: relative;
  margin-top: 5%;

}

.square-big {
  display: block;
  width: 108px;
  height: 94px;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 13px;
  animation-duration: 5s;
  animation-name: square-big-animation;
  animation-iteration-count: infinite;
}

@keyframes square-big-animation {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(5px);
  }
}


.square-small {
  display: block;
  width: 83px;
  height: 72px;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 13px;
  position: absolute;
  top: 10%;
  left: 5%;

  animation-duration: 6s;
  animation-name: square-mini-animation;
  animation-iteration-count: infinite;
}

@keyframes square-mini-animation {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(7px);
  }
}

.wrapper-square-low {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 630px;
  width: 630px;
  height: 366px;
  margin: 0 0 0 190px;
}

.square-small-low {
  display: block;
  width: 83px;
  height: 72px;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 13px;
  left: 2%;
  top: 5%;
  position: absolute;
  animation-duration: 7s;
animation-name: square-mini-animation;
animation-iteration-count: infinite;
}

@keyframes square-mini-animation {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(5px);
  }
}


.link-auth {
  display: block;
  padding: 15px 10px;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  backdrop-filter: blur(5px);
  border-radius: 13px 0px 0px 13px;
  left: 63px;
  top: 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  &:hover {
    background: rgba(237, 231, 231, 0.2);
    border: 2px solid rgba(255, 249, 249, 0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(5px);
  }
}

.link-registration {
  display: block;
  padding: 14px 10px;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 0px 13px 13px 0;
  left: 330px;
  top: 0px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  &:hover {
    background: rgba(237, 231, 231, 0.2);
    border: 2px solid rgba(255, 249, 249, 0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(5px);
  }
}

.square-small-drag, .square-small-custom, .square-small-multiple {
  display: flex;
  align-items: center;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 13px;
}

h1 {
  text-align: center;
  font-size: 50px;
  line-height: 54px;
  color: #fff;
  word-wrap: break-word;
}

.square-small-custom {
  max-height: 150px;
  padding: 72px 44px;
  position: absolute;
  left: 480px;
  top: 12%;
  z-index: 1;
  animation-duration: 6s;
  animation-name: square-custom-animation;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes square-custom-animation {
  0% {
  transform: translateY(0);
  }
  50%{
  transform: translateY(8px);
  }
}

.square-small-multiple {
  padding: 26px 132px;
  max-height: 76px;
  position: absolute;
  top: 19%;
  left: 0;
  z-index: 1;
  animation-duration: 5s;
  animation-name: square-big-animation;
  animation-iteration-count: infinite;
}

@keyframes square-big-animation {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(5px);
  }
}

.square-small-drag {
  max-height: 156px;
  padding: 66px 89px;
  position: absolute;
  top: 41%;
  left: 26%;
  z-index: 0;
  animation-duration: 4s;
  animation-name: square-drag-animation;
  animation-iteration-count: infinite;
}

@keyframes square-drag-animation {
  0% {
  transform: translateY(0);
  }
  50%{
  transform: translateY(-7px);
  }
}

.wrapper-square-right {
  position: relative;
}

.square-small-right {
  display: block;
  width: 63px;
  height: 63px;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 13px;
  position: absolute;
  top: 25%;
  left: 15%;
  animation-duration: 5s;
  animation-name: square-mini-animation;
  animation-iteration-count: infinite;
}

@keyframes square-mini-animation {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(8px);
  }
}

.square-big-right {
  display: block;
  width: 88px;
  height: 88px;
  background: rgba(237, 231, 231, 0.3);
  border: 2px solid rgba(255, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 13px;
  position: absolute;
  top: 27%;
  left: 10%;
  animation-duration: 6s;
  animation-name: square-big-animation;
  animation-iteration-count: infinite;
}

@keyframes square-big-animation {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(7px);
  }
}

.title {
  color: #85FFF8;
}

.bubble, .bubble-mini, .bubble-big, .bubble-mini-right, .bubble-mini-right-small, .bubble-big-right {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(237, 231, 231, 0.05) 0%, rgba(237, 231, 231, 0) 0.01%, rgba(237, 231, 231, 0.05) 100%);
  filter: blur(5px);
  border-radius: 100%;
}

.bubble {
  width: 395px;
  height: 395px;
  right: -3%;
  top: -6%;
}

.bubble-mini {
  width: 91px;
  height: 91px;
  left: -4%;
  top: 20%;
  background: rgba(237, 231, 231, 0.05);
}

.bubble-big {
  width: 444px;
  height: 444px;
  left: -6%;
  top: 38%;
}

.bubble-mini-right {
  width: 75px;
  height: 75px;
  top: 4%;
  right: -27%;
}

.bubble-mini-right-small {
  width: 59px;
  height: 59px;
  top: 330px;
  right: -245px;
}

.bubble-big-right {
  width: 440px;
  height: 440px;
  top: 50%;
  right: -41%;
}

.auth {
  max-height: 74px;
  display: flex;
  margin-bottom: 25px;
  position: absolute;
  right: 0px;
  top: 5px;
}

.design {
  color: white;
  position: absolute;
  bottom: 90px;
  left: 20px;
  text-align: end;
    width: 90%;
  bottom: 0;
  right: 0%;
}

@media (max-width: 768px) {
  :host {
    position: fixed;
  }
  .wrapper-square, .wrapper-square-right{
    display: none;
  }
  .welcome-page h1 {
    padding-top: 35px;
    font-size: 25px;
    position: relative;
    z-index: 30;
    width: 100%;
  }
  .wrapper-square-low {
    width: 100%;
    margin-left: 0px;
  }
  .bubbles {
    display: none;
  }
  .bubble-big-right{
    height: 300px;
  }
  .square-small-multiple {
    max-width: 80%;
    top: 0;
  }
  .square-small-custom {
    width: 150px;
    padding: 30px 44px;
    left: 85%;
    top: 19%;
  }
  .square-small-drag[_ngcontent-wcm-c411] {
    padding: 66px 89px;
    top: 71%;
    left: 26%;
  }
}
