<footer class="footer">
  <div class="footer__links">
    <div>Our team:</div>
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="https://github.com/1LisaW" target="_blank" class="footer__link">1LisaW</a>
        </li>
        <li class="footer__item">
          <a href="https://github.com/Kate4ka007" target="_blank" class="footer__link">Kate4ka007</a>
        </li>
        <li class="footer__item">
          <a href="https://github.com/laluna93" target="_blank" class="footer__link">laluna93</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__logo">
    <a href="https://rs.school/angular/"><img src="assets/images/rsschool_logo.svg"></a>
  </div>
  <div>2022</div>
</footer>
