<div class="section-create-board" *ngIf="isCreationFormBoardOpen">
    <div class="wrapper-board">
        <div class="board-header">
            <app-add-users-form [userName]="allUsers"></app-add-users-form>
            <button class="btn-close" (click)="closeCreateBoard()">X</button>
        </div>
        <form class="form-board" [formGroup]="formCreateBoard"(ngSubmit)="createBoard()">
            <input class="input" type="text" formControlName="title" placeholder="{{'WORKSPACE.TITLE' | translate}}">
            <!-- <input class="input" type="text" formControlName="owner" placeholder="{{'WORKSPACE.OWNER' | translate}}"> -->
            <h2 class="owner">{{owner}}</h2>
            <div class="users">
                <div class="user" *ngFor="let userName of usersName">
                    <app-user-logo (click)="removeUser(userName)" [userName]="userName"></app-user-logo>
                </div>
            </div>
            <button class="btn-create" [disabled]="formCreateBoard.invalid" type="submit">
                {{'WORKSPACE.CREATE' | translate}}
            </button>
        </form>
    </div>
</div>
