<div class="section-create-board" *ngIf="isCreationFormBoardOpen">
    <div class="wrapper-board">
        <div class="board-header">
            <div class="users">
                <app-add-users-form [userName]="allUsers"></app-add-users-form>
                <div class="user">
                    <app-user-logo *ngFor="let userName of usersName" (click)="removeUser(userName)" [userName]="userName"></app-user-logo>
                    <app-user-logo [userName]="owner"></app-user-logo>
                </div>
            </div>
            <span class="btn-close" type="button" nz-icon nzType="close" nzTheme="outline" (click)="closeCreateBoard()"></span>

        </div>
        <form class="form-board" [formGroup]="formCreateBoard"(ngSubmit)="createBoard()">
            <input class="input" type="text" formControlName="title" placeholder="{{'WORKSPACE.TITLE' | translate}}">
            <small class="notification" *ngIf="formCreateBoard.get('title')?.getError('maxlength')">
                {{'BOARD.REQUIRED_BOARD_LENGTH' | translate}}
              </small>
            <button class="btn-create" [disabled]="formCreateBoard.invalid" type="submit">
                {{'WORKSPACE.CREATE' | translate}}
            </button>
        </form>
    </div>
</div>
