<div *ngIf="isAuth" class="wrapper">
  <button class="primary" nz-button nzType="primary" (click)="toggleCollapsed()">
    <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
  </button>
  <ul class="{{isCollapsed? 'navigation' : 'close'}}" nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
    <li nzSelected="{{!(url.includes('auth') || url.includes('workspace') || url.includes('profile'))}}" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Welcome Page' : ''"
      >
      <a routerLink="" routerLinkActive="active">
        <span nz-icon nzType="mail"></span>
        <span class="link-text">{{'NAV.WELCOME'| translate}}</span>
        <span nz-icon nzType="home"></span>
        <span>{{'NAV.WELCOME'| translate}}</span>
      </a>
    </li>

    <li nzSelected="{{url.includes('workspace')}}" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Workspace' : ''">
      <a
        routerLink="workspace" routerLinkActive="active">
        <span nz-icon nzType="appstore"></span>
        <span class="link-text">{{'NAV.WORKSPACE'| translate}}</span>
      </a>
    </li>

    <li nzSelected="{{url.includes('profile')}}" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Profile' : ''">
      <a
        routerLink="profile" routerLinkActive="active">
        <span nz-icon nzType="setting"></span>
        <span class="link-text">{{'NAV.PROFILE'| translate}}</span>
      </a>
    </li>
  </ul>
</div>
