.wrapper {
  width: 240px;
  height: calc(100vh - 120px);
}

button {
  margin-bottom: 45px;
  @media screen and (max-width: 768px) {
    padding: 5px;
  }
}

.ant-menu {
  height: 100%;
  transition: 1.5s;
}

:host {
  position: absolute;
  left: 0;
  top: 26px;
  z-index: 10;
    @media screen and (max-width: 768px) {
    top:9px
  }
}

.primary {
  margin-bottom: 22px;
  @media screen and (max-width: 768px) {
    margin-bottom: 9px;
  }
}

.navigation {
  background: #290052;
}

/* .show {
  @media screen and (max-width: 768px) {
    margin-left: -260px;
    transition: 0.2s;
  }
} */


