.wrapper {
  width: 240px;
  height: calc(100vh - 120px);
  @media(max-width: 560px) {
    width: 0px;
  }
}

button {
  margin-bottom: 45px;
}

.ant-menu {
  height: 100%;
  transition: 1.5s;
}

:host {
  position: absolute;
  left: 0;
  top: 43px;
  z-index: 10;
}

.primary {
  margin-bottom: 5px;
}

.navigation {
  background: #290052;
  display: block;


}

.close {
  background: #290052;
  @media(max-width: 560px) {
    display: none;
  }
}
