.login-form {
  display: flex;
  height: 32px;
  transition: 1s;
  @media screen and (max-width: 768px) {
    height: 25px;
  }

  &__input {
    width: 100px;
    background: none;
    color: white;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
      width: 70px;
      margin-right: 5px;
      font-size: 14px;
    }
  }

  &__input:hover,
  &__input:focus {
    width: 200px;
    margin-left: -200px;

    @media screen and (max-width: 768px) {
      width: 130px;
      margin-left: -130px;
    }
  }

}


.login-form-forgot {
  float: right;
}

.ant-btn-primary {
  @media screen and (max-width: 768px) {
    padding: 2px;
    height: 25px;
  }
}

.login-form__clear {
  color: white;
  font-size: 1.5rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

/* .login-form-button {
  width: 70px;
} */
