@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  box-sizing: border-box;
}

.board {
  height: auto;
  text-align: center;
  padding-top: 20px;

  &__columns {
    padding-left: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100vw;
    height: calc(100vh - 270px);
    padding-bottom: 20px;
  }

  &__create-button {
    padding: 15px;
    min-width: 350px;
    min-height: 40px;
    max-height: 40px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: hsla(0, 0%, 100%, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    &:hover {
      cursor: pointer;
      background: hsla(123, 100%, 50%, 0.3);
    }
  }
}

:host {
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__columns.cdk-drop-list-dragging
  .board__column:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 10px;
  width: 2px;
  backdrop-filter: blur(5px);
}

.spinner {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 0 0 20px 0;
}

.overlay {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  padding-top: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

.column {
  padding: 15px;
  width: 350px;
  height: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);

  &:hover {
    cursor: grabbing;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__input {
    padding-left: 7px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    font-size: 1.7em;
    font-weight: 600;
    max-width: 75%;
    outline: none;
  }

  &__form {
    max-width: 75%;
    height: 43px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__icon:hover {
    cursor: pointer;
  }

  &__order {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }

  &__delete {
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: auto;
    &:hover {
      cursor: pointer;
    }
  }

  &__h3 {
    font-size: 1.8em;
    color: #ffffff;
    font-weight: 600;
    padding: 2px;
    padding-left: 7px;
    &:hover {
      cursor: text;
    }
  }

  &__button {
    justify-self: flex-end;
    padding: 8px 20px;
    margin-top: auto;
    background: #ffffff;
    outline: none;
    color: #000;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    &:hover {
      cursor: pointer;
      background: darken($color: #ffffff, $amount: 10);
    }
  }

  &__icon {
    font-size: 2rem;
    color: #ffffff;
  }
}

.alert {
  color: #ffd5d6;
  font-size: 0.8rem;
  margin-right: auto;
  margin-top: -20px;
}
