<div *ngIf="!board" class="spinner">
  <nz-spin nzSimple></nz-spin>
</div>
<section *ngIf="board" class="board">
  <h1 class="board__title">{{ board.title }}</h1>
  <div
    class="board__columns"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <app-column
      class="board__column"
      *ngFor="let column of columns"
      [column]="column"
      cdkDrag
      (deleteColumn)="deleteColumn($event)"
    ></app-column>
    <div style="display: flex; flex-direction: column; gap: 20px;">
      <div class="board__create-button" [cdkDragDisabled]="true" cdkDrag (click)="onCreateColumn()">
        {{"BOARD.CREATE" | translate}}
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="snowModal">
    <app-create-column-modal (createColumn)="createColumn($event)"  (closeOpen)="closeOpen($event)"></app-create-column-modal>

  </div>

</section>
